# -*- mode: conf -*-

# https://github.com/puma/puma/blob/master/docs/systemd.md

[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/diffology/current
ExecStart=/usr/local/bin/puma -C /var/www/diffology/current/config/puma.rb ../config.ru
Restart=always

Environment=RAILS_ENV=production
Environment=APP_DATABASE_PASSWORD=
Environment=RAILS_MASTER_KEY=

[Install]
WantedBy=multi-user.target
